// Variables
$logo_gradient_color1: black;
$logo_gradient_color2: blue;
$logo_gradient_color3: red;
$logo_gradient_color4: yellow;
$logo_gradient_color5: white;
$logo_gradient_colors: $logo_gradient_color1, $logo_gradient_color2, $logo_gradient_color3, $logo_gradient_color4, $logo_gradient_color5;